.SearchContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.SearchContainer ul {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}

.SearchContainer .no-results {
    line-height: 50px;
    font-size: 30px;
}

.SearchContainer li {
    cursor: pointer;
}

.SearchContainer input {
    font-size: 14px;
}

.SearchContainer .title-track {
    line-height: 50px;
}

.SearchContainer .searchTile, .SearchContainer .searchList {
    float: right;
    margin-left: 10px;
}
